<div class="col-12">
    <div class="card" id="dropzone_card" style="display:none">
        <div class="card-block">
            <form action="{{ path_for('routine/start', {'id': routine.id}) }}" class="dropzone" id="kk">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>
        </div>
    </div>
</div>
