{% extends 'layout.twig' %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Routines</h3>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <a href="{{ path_for('routine/add') }}" class="btn pull-right btn-success"><i class="mdi mdi-plus-circle"></i> Ajouter
                    une routine
                </a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            {% if routines is empty %}
                <p>Aucune routines pour l'instant</p>
            {% else %}
                {% for routine in routines %}
                    <div class="col-md-4">
                        <div class="card card-outline-inverse">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">{{ routine.name|upper }}</h4></div>
                            <div class="card-block">
                                <h3 class="card-title">{{ routine.description }}</h3>
                                <div class="card-text">
                                    <div class="table-responsive">
                                        <table style="background: #272c33"
                                               class="text-white table color-bordered-table dark-bordered-table">
                                            <tbody>
                                            <tr>
                                                <td>Mode</td>
                                                <td class="font-medium">
                                                    {% if routine.mode == 0 %}
                                                        {% if routine.interval == '0 0 * * 0' %}
                                                            Hebdomadaire
                                                        {% else %}
                                                            Mensuelle
                                                        {% endif %}
                                                    {% else %}
                                                        Manuel
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Simulations</td>
                                                <td class="font-medium">{{ routine.simulations|length }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <a href="{{ path_for('routine', {'id': routine.id}) }}" class="btn btn-inverse">Configurer</a>
                                <a href="{{ path_for('routine/results', {'id': routine.id }) }}" class="btn btn-inverse">Résultats</a>
                                {% if routine.mode == 1 %}
                                <button type="button" class="btn btn-primary" name="button" data-toggle="modal" data-target="#responsive-modal" id="lauch_btn" data-for="{{routine.id}}">Lancer</button>
                                <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="max-width: 900px;  position: absolute;  min-width: 60%;  left: 20%; top: 30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" id="md-body">
              <div id="fst">
                <a href="{{ path_for('routine/start', {'id': routine.id}) }}" class="btn btn-rounded btn-block btn-outline-success">Simuler depuis la base de données</a>
                <button class="btn btn-rounded btn-block btn-outline-warning" type="button" name="button" onclick="change_modal()">Rechercher depuis un échantillon</button>
              </div>
              {% include 'pages/routines/drop_zone_template.twig' with {'routine' : routine}%}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" id="close_mod"data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

                                {% elseif routine.last_date_start is null %}
                                    <a href="{{ path_for('routine/start', {'id': routine.id}) }}" class="btn btn-primary">Premier lancement</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="/assets/js/dropzone.js">

</script>
<script type="text/javascript">
ssss__ = undefined
Dropzone.prototype.defaultOptions.dictDefaultMessage = 'Glisser ici vos fichiers csv'
var myDropzone = new Dropzone("#kk", {
  previewTemplate: "<div></div>",
  complete: function(){
    $('#close_mod').click();
    window.location = '/routine/' + this.options.id_routine + '/results'
  },
  error: function(a, b, c){
    $('body').html(b);
  }
});

$('#lauch_btn').click(function(){
  $('#kk')[0].dropzone.options.id_routine = $(this).attr('data-for')
  $('#kk')[0].dropzone.options.url = "/routine/" + $(this).attr('data-for') + '/start'
  set_modal();
})

var change_modal = function() {
  $('#fst').css('display', 'none')
  $('#dropzone_card').css('display', 'block')
}
var set_modal = function() {
  $('#fst').css('display', 'block')
  $('#dropzone_card').css('display', 'none')
}
</script>
{% endblock %}
