{% extends 'layout.twig' %}

{% block link %}
    <link href="/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet"/>
    <link href="/assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- ========================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ========================================== -->
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{ routine.name }}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path_for('routines') }}">Routines</a></li>
                    <li class="breadcrumb-item active">{{ routine.name }}</li>
                </ol>
            </div>
        </div>
        <!-- ========================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ========================================== -->
        <!-- ========================================== -->
        <!-- Start Page Content -->
        <!-- ========================================== -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-block">
                        <form method="post" action="{{ path_for('routine', {id: routine.id}) }}">
                            <ul class="nav nav-tabs customtab mb-2" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#routine_global"
                                                        role="tab"><span class="hidden-sm-up"><i
                                                    class="ti-info"></i></span>
                                        <span class="hidden-xs-down">Informations globales</span></a></li>
                            </ul>
                            <div class="tab-content tabcontent-border">
                                <div class="tab-pane active p-20" id="routine_global" role="tabpanel">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label>Nom de la routine</label>
                                                    <input type="text" class="form-control" name="name"
                                                           value="{{ routine.name }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea type="text" class="form-control"
                                                              name="description">{{ routine.description }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label>Simulations utilisées</label>
                                                    <select multiple id="public-methods" name="simulations[]">
                                                        {% for simulation in simulations %}
                                                            {% set write = 0 %}
                                                            {% for used in routine.simulations %}
                                                                {% if (used.id == simulation.id) %}
                                                                    {% set write = 1 %}
                                                                    <option value="{{ used.id }}" selected>{{ used.name }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% if write == 0 %}
                                                                <option value="{{ simulation.id }}">{{ simulation.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    <div class="button-box m-t-20">
                                                        <a id="select-all" class="btn btn-info" href="#">Tout
                                                            ajouter</a>
                                                        <a id="deselect-all" class="btn btn-danger" href="#">Tout
                                                            enlever</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label>Mode de lancement</label>
                                                    <div class="form-check">
                                                        <label class="custom-control custom-radio">
                                                            <input id="radio2" name="mode" type="radio"
                                                                   class="custom-control-input"
                                                                   {% if routine.mode == 0 %}checked="checked"{% endif %}
                                                                   value="0">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Automatique</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="custom-control custom-radio">
                                                            <input id="radio2" name="mode" type="radio"
                                                                   class="custom-control-input"
                                                                   {% if routine.mode == 1 %}checked="checked"{% endif %}
                                                                   value="1">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Manuelle</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="mode-0">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <div class="form-group">
                                                        <label>Intervalle</label>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input name="interval" type="radio"
                                                                       class="custom-control-input"
                                                                       {% if routine.interval ==  "0 0 * * 0" %}checked="checked"{% endif %}
                                                                       value="0 0 * * 0">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1 semaine</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input name="interval" type="radio"
                                                                       class="custom-control-input"
                                                                       {% if routine.interval ==  "0 0 1 * *" %}checked="checked"{% endif %}
                                                                       value="0 0 1 * *">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1 mois</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions pull-right mt-3">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Sauvegarder
                                </button>
                                <a href="{{ path_for('routine/delete', {'id': routine.id}) }}" class="btn btn-danger"><i
                                            class="fa fa-times"></i> Supprimer</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/assets/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script>
        $('document').ready(function () {
            var modeValue = $('input[name=mode]:checked').val();
            var settingsMode = $('#mode-0');

            if (modeValue === '1')
                settingsMode.hide();

            $('input[name=mode]').change(function () {
                modeValue = $('input[name=mode]:checked').val();
                if (modeValue === '0')
                    settingsMode.show();
                else
                    settingsMode.hide();
            });
        });

        // For multiselect
        $('#pre-selected-options').multiSelect();
        $('#optgroup').multiSelect({
            selectableOptgroup: true
        });
        $('#public-methods').multiSelect();
        $('#select-all').click(function () {
            $('#public-methods').multiSelect('select_all');
            return false;
        });
        $('#deselect-all').click(function () {
            $('#public-methods').multiSelect('deselect_all');
            return false;
        });
        $('#refresh').on('click', function () {
            $('#public-methods').multiSelect('refresh');
            return false;
        });
        $('#add-option').on('click', function () {
            $('#public-methods').multiSelect('addOption', {
                value: 42,
                text: 'test 42',
                index: 0
            });
            return false;
        });
    </script>
{% endblock %}