
<div class="panel-body">

{% if variable.enum != null and variable.enum != 'null' %}
<div class="card">
	<div class="card-header" style="margin-bottom:20px">Valeur possible</div>
	<div class="card-body">
		<table class="table color-table inverse-table" id="defaultValueTable">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				{% for k, v in variable.enum %}
				<tr>
					<td> <input type="checkbox"></td>
					<td>{{k}}</td>
					<td>{{v}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="row d-flex justify-content-around">
		<button type="button" onclick="update_default()" class="btn btn-success" name="button"><span class="	fa fa-plus" aria-hidden="true"></span></button>
	</div>
</div>
{% else %}

	<div class="card-header" style="margin-bottom:20px">Lien Variable(s)</div>
	<div class="row" style="padding:0px 20px 0px 20px">
		<div class="col-md-3 col-md-offset-5">
			<div class="form-group">
				<label for="rea1">Default</label>
			</div>
		</div>
		<div class="col-sm-9 ">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="defaultValue" name="Major[]" value="" placeholder="Valeur par default">
				</div>
			</div>
		</div>
	</div>
	<div class="row d-flex justify-content-around">
		<button type="button" onclick="update_default()" class="btn btn-success" name="button"><span class="	fa fa-plus" aria-hidden="true"></span></button>
	</div>
	<div class="clear"></div>

{% endif %}
</div>
<div class="panel-footer"><small>Press <span class="fa fa-plus gs"></span> pour enregistrer la valeur par defaut link :)</small></div>
