
<div class="panel-body">
  <div class="card-header" style="margin-bottom:20px">Lien Variable(s)</div>
  <div id="education_fields" style="padding:0px 20px 0px 20px">
  </div>
  <div class="row" style="padding:0px 20px 0px 20px">
    <div class="col-md-3 col-md-offset-5">
      <div class="form-group">
        <input type="text" class="form-control"  linkfor="req_1" value="" placeholder="Name">
      </div>
    </div>
    <div class="col-sm-9 ">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" id="req_1" name="Major[]" value="" placeholder="Database request">
          <div class="input-group-btn">
            <button class="btn btn-success" type="button"  onclick="education_fields();"> <span class="	fa fa-plus" aria-hidden="true"></span> </button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row d-flex justify-content-around">
  		<button type="button" onclick="update_link()" class="btn btn-success" name="button">Valider</button>
  	</div>
  <div class="clear"></div>
</div>
<div class="panel-footer"><small>Press <span class="fa fa-plus gs"></span> to add another form field link</small>, <small>Press <span class="fa fa-minus"></span> to remove link :)</small></div>

{% if variable.enum != null and variable.enum != 'null' %}
<div class="card">
  <div class="card-header" style="margin-bottom:20px">Valeur possible</div>
  <div class="card-body">
    <table class="table color-table inverse-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for k, v in variable.enum %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{k}}</td>
          <td>{{v}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<div class="card">
  <div class="card-header" style="margin-bottom:20px">Importance de la variable</div>
  <div class="card-body" style="padding:20px">
    <div id="slider"></div>
  </div>
</div>
