<div class="tab-content tabcontent-border" id="var_info_template">
	<div class="tab-pane" id="var_links">
		<div class="panel panel-default">
			<div class="panel-header" style="padding:20px">
				<div class="row d-flex justify-content-around" id="v_state">
					<div class="checkbox checkbox-success checkbox-circle">
						<input id="checkbox-1" type="checkbox" checked>
						<label for="checkbox-1"> Variable en base de donner </label>
					</div>

					<div class="checkbox checkbox-warning checkbox-circle">
						<input id="checkbox-2" type="checkbox" >
						<label for="checkbox-2"> Set default value </label>
					</div>
					<div class="checkbox checkbox-danger checkbox-circle">
						<input id="checkbox-3" type="checkbox">
						<label for="checkbox-3"> Variable inconnu de la base de donner </label>
					</div>
				</div>
			</div>
			<div pageFor="checkbox-1">
				{% include 'pages/variables/val_link_template.twig' with {'variable' : variable } %}
			</div>
			<div pageFor="checkbox-2"  style="display:none" >
				{% include 'pages/variables/default_link_template.twig' with {'variable' : variable } %}
			</div>
		</div>

		</div>
	<div class="tab-pane active" id="var_infos" role="tabpanel">
		<div class="p-20">
			<p>Version <a
				href="{{ path_for('JSONvariable', {'name': variable.name}) }}">JSON</a>
			</p>
			<div class="row d-flex p-2 justify-content-between" id="head_pres">

				<div class="col-lg-4 col-md-6 col-xlg-2 col-xs-12">

					<div class="card text-center ">
						<div class="card-header">
							Name
						</div>
						<div class="card-body">
							<p class="card-text">{{variable.name}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-xlg-2 col-xs-12">
					<div class="card text-center">
						<div class="card-header">
							Type
						</div>
						<div class="card-body">
							<p class="card-text">{{variable.valueType}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-xlg-2 col-xs-12">
					<div class="card text-center">
						<div class="card-header">
							Entite
						</div>
						<div class="card-body">
							<p class="card-text">{{variable.entity}}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="ribbon-wrapper card" id="desc_card">
				<div class="ribbon ribbon-default">Description</div>
				<p class="ribbon-content">{{variable.description}}</p>
			</div>

			<div class="ribbon-wrapper card" id="desc_formule">
				<div class="ribbon ribbon-default">Formule</div>
				<div class="vtabs customvtab">
					<ul class="nav nav-tabs tabs-vertical" role="tablist">
						{% for v in variable.formulas|reverse %}
						<li class="nav-item">
							<a class="nav-link {% if loop.index == 1 %}active{% endif %}show" data-toggle="tab" href="#home{{loop.index}}" role="tab" aria-selected="true">
								<span class="hidden-sm-up"><i class="ti-home"></i></span>
								<span class="hidden-xs-down">{{v.date}}</span>
							</a> </li>
							{% endfor %}
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							{% for v in variable.formulas|reverse %}
							<div class="tab-pane {% if loop.index == 1 %}active{% endif %} show" id="home{{loop.index}}" role="tabpanel">
								<div class="d-flex flex-wrap">

									<div class="card text-center col-lg-12">
										<div class="card-header" id="nom_dep">
											Nom de(s) dépendance(s)
										</div>
										<div class="card-body d-flex p-2 flex-wrap justify-content-around">
											{% for c in v.children|split(':') %}
											<a class="p-2 "href="{{ path_for('variable', {'name': c}) }}">{{ c }}</a>
											{% endfor %}</td>
										</div>
									</div>

									<div class="card text-center col-lg-12">
										<div class="card-header" id="nom_dep">
											Formule
										</div>
										<div class="card-body ">
											<pre><code class="language-python"
												id="selected_formulas">{{ v.formula }}</code></pre>
											</div>
										</div>
									</div>

								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





	</div>
</div>
