<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <title>Clic'Droits | Dashboard</title>
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/fontawesome.min.css" rel="stylesheet">
    <link href="/assets/css/theme.css" id="theme" rel="stylesheet">
    <link href="/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">
    {% block link %} {% endblock %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header card-no-border">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
{% include 'partials/spinner.twig' %}
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    {% include 'partials/header.twig' %}
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    {% include 'partials/navigation.twig' %}
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        {% block content %}{% endblock %}
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        {% include 'partials/footer.twig' %}
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>

<script src="/assets/plugins/jquery/jquery.min.js"></script>
<script src="/assets/plugins/bootstrap/js/tether.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
<script src="/assets/plugins/toast-master/js/jquery.toast.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/sidebarmenu.js"></script>
<script src="/assets/js/custom.js"></script>

<script src="/assets/js/toastr.js"></script>
<script>
    $(document).ready(function (event) {
        var url = '{{ path_for('notifications') }}';
        var alert = true;

        $.ajax({
            url: url,
            method: 'get',
            dataType: "json",
            success: function (data) {

                console.log(data);
                if (data.length === 0) {
                    $('#notificationsList').append('<p>Aucunes nouvelles notifications</p>');
                    $('#notificationsList').parent().css({
                        height: "50px"
                    });
                }
                else {
                    $.each(data, function (key, value) {
                        $('#notificationsList').parent().css({
                            height: "250px"
                        });
                        $('#notificationsList').append('<a href="#">\n' +
                            '                                        <div style="margin-right: 8px;" class="btn ' + value.style.bg_class + ' btn-circle">\n' +
                            '                                            <i style="color:white!important;" class="fa ' + value.style.icon + '"></i>\n' +
                            '                                        </div>\n' +
                            '\n' +
                            '                                        <div class="mail-contnet">\n' +
                            '                                            <h5>' + value.title + '</h5>\n' +
                            '                                            <span class="mail-desc">' + value.content + '</span>\n' +
                            '                                            <span class="time">' + value.publish + '</span>\n' +
                            '                                        </div>\n' +
                            '\n' +
                            '                                    </a>');
                    })
                }
            }
        });
    });
</script>
<script>

</script>
{% block script %} {% endblock %}
{% include 'partials/flash.twig' %}
</body>

</html>
