####### File created by clicdroits ####### 

desc = {"name" : "{{variable.name}}",
		"entity" : "{{variable.entity}}",
		"period" : "{{variable.periode}}"
}

class {{variable.name}}_loader:

	# You can acces value with data["{{variable.link[0]}}"]
	# Will be the computed value of your request
	{% for name, sql in variable.link %}
	# data["{{name}}"]
	{% endfor %}

	sql_req =  { {% for name, sql in variable.link %}
	"{{name}}" : "{{sql}}"{% if loop.index != loop.last %},
	{% endif%}
    	{% endfor %}
	}

	def load(self, data):
		return data["val"]

	def evaluate(self, values):
		for data in values:
			print "from " + str(data) + " to " + str(self.load(data))
		raw_input('')

	def bench(self, values):
		start_time = time.time()
		for data in values:
			self.load(data)
		print str(len(values) / (start_time - time.time())) + "load/s"
